streamlit
numpy
pandas
scipy
matplotlib
python-dotenv
pydicom
soundfile
google-generativeai
scikit-learn
Pillow
openpyxl
xlrd
tensorflow
transformers
torch
opencv-python-headless
mne
huggingface-hub
keras
joblib
gdown